.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git
/web/
/build/
/media/
db.sqlite3
ai_story.db
music_tag.db
local_settings.py
.DS_Store
/data/
supervisord.pid
.ruff_cache
/.VSCodeCounter/*
spotify_token.json
*.md
.pytest_cache
.cursor
django.log
/tests/
.claude/
.vscode/
.venv/
/storage/
/backend/storage/image/
.git
.env
frontend/node_modules/
frontend/dist/
*.png

backend/apps/agent/**
backend/apps/mcp/**
!backend/apps/agent/**/
!backend/apps/mcp/**/
!backend/apps/agent/**/*.so
!backend/apps/mcp/**/*.so
!backend/apps/agent/.gitkeep
!backend/apps/mcp/.gitkeep